@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@model Application


<head>
    <title>@ViewData["Title"] Add Movie</title>
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <style>
        body {
            margin-bottom: 80px;
        }
    </style>
</head>

<!--create html form-->
<h1>Add a Movie</h1>
<form method="post">
    <label asp-for="Title">Movie Title</label>
    <input asp-for="Title" required />
    <br />
    <label asp-for="Main_Category">Main Category: </label>
    <select asp-for="Main_Category" required>
        <option value="">Select a rating</option>
        <option value="Drama">Drama</option>
        <option value="Action">Action</option>
        <option value="Sci-Fi">Sci-Fi</option>
        <option value="Television">Television</option>
        <option value="Horror">Horror</option>
        <option value="Comedy">Suspense</option>
        <option value="Thriller">Thriller</option>
        <option value="Family">Family</option>
        <option value="Adventure">Adventure</option>
        <option value="Romance">Romance</option>
        <option value="Miscellaneous">Miscellaneous</option>
        <option value="Other">Other</option>
     </select>
    <br />
    <label asp-for="Year_Released">Year Released: </label>
    <input asp-for="Year_Released" required/>
    <br />
    <label asp-for="Primary_Director">Primary Director: </label>
    <input asp-for="Primary_Director" required/>
    <br />
    <label asp-for="Rating">Rating</label>
    <select asp-for="Rating" required>
        <option value="">Select a rating</option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>

    <br />
    <label asp-for="Edited">Edited</label>
    <br />
    <select asp-for="Edited">
        <option value="">Select Edited Status</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <label asp-for="LentTo">Lent To</label>
    <input asp-for="LentTo" />
    <br />
    <label asp-for="Notes">Notes</label>
    <input asp-for="Notes" maxlength="25"/>

    <button type = "submit">Submit Application</button>
</form>